body,
html {
  background-color: #27ae60;
  color: white;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#dados-api {
  text-align: center;
  border: solid 1px;
  border-radius: 5px;
  background-color: #2ecc71;
  width: 500px;
}

#color-blue {
  color: blue;
}
#color-red {
  color: red;
}
